<div class="col-12">
    <div class="card">
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap" id="tbl_view">
                <thead>
                    <tr>
                        <th>
                            No
                        </th>
                        <th>
                            Kontak
                        </th>
                        <th>
                            Pesan Masuk
                        </th>
                        <th>
                            Tanggal
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            1
                        </td>
                        <td>
                            Yoga Pratama
                        </td>
                        <td style="width:500px;white-space: normal;word-break: break-all;">
                            12.71.x3.87.x2.50.05.78.578.x3.3578.793.93.712.25.x2. 97.x2.357.035.370.514.021.x2.57.35.70.14.21.x3. 034x2.34x2.2581x3.581x3.81x4.817x2.17x2.14x2.81x2.87x2.30x3.31x3.61x3.81x3.44x3.84x2.39x2.32x3.144x2.031x2.161x2.481x2.350x2.50x2.229x2.29x2.19x2.77x2.34x2.
                        </td>
                        <td>
                            2021-05-07 06:22:20
                        </td>
                    </tr>
                    <tr>
                        <td>
                            2
                        </td>
                        <td>
                            Carollous Dachi
                        </td>
                        <td style="width:500px;white-space: normal;word-break: break-all;">
                            98x10.48.46x10.25x10.13.19x3.68x2.58x35. 1803x2.803x3.03x5. 0318x2.318x3.18x5. 33.34.32.43x3. 23.01.10x2.63x4. 16x3.
                        </td>
                        <td>
                            2021-05-07 06:21:15
                        </td>
                    </tr>
                    <tr>
                        <td>
                            3
                        </td>
                        <td>
                            M Yoggi Fernando
                        </td>
                        <td style="width:500px;white-space: normal;word-break: break-all;">
                            96x10. 39x10. 98x10. 07.70.90.09.30.03.26.61x3. 72.67.68x3. 51.62.87.83.38.51.15.33.53.60.80x2.61.63.86.58.78.75.57x2. 57x20.37x20.27.71.98x10.88.38x5.53x10.
                        </td>
                        <td>
                            2021-05-07 05:38:42
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
</div>